#weather-page {
    background: @off-white;
    overflow: hidden;

    [purpose='footer-nav']{
        position: fixed;
        bottom: 8vw;
        z-index: 10;
        small { 
            color: @brown;
        }
    }

    [purpose='footer-copy']{
        position: fixed;
        bottom:0vw;
        z-index: 10;
    }

    [purpose='page-wrap'] {
    height: 100vh !important;
    }
    
    #weather-svg{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .st0{fill: @navy;}

    #weather{
        display: none;
        height: 100vh;
        
        width: 100%;

        div{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100vh;
        font-weight: 800;
        width: 150%;
        position: absolute;
        top: -10vw;
        letter-spacing: -.25vw;
        }

    } 
    #widget {
        font-family: helvetica;
        color: @navy;
        opacity: 0;
        position:absolute;

        #clock{
            position: absolute;
            top: 6vw;
            left: 55vw;
            font-size: 14vw;
        }

        .day-line{
            display:flex;
            font-size:2vw;
        }
        .day{
            width: 18.5vw;
        }
        .high-low{
            width: 10vw;
        }

        .card-w {
            text-align: center;
            background-color: transparent;
            font-size: 14vw;
            padding: 2vw;
            position: absolute;
            top: 7vw;
            left: 1vw;
            line-height: normal;
        }
        #weather-icon{
            font-size: 13vw;
            position: absolute;
            left: 26vw;
            top: 10.5vw;
        }
        #city-name{
            position: fixed;
            top: 5vw;
            width: 100%;
            font-weight: 800;
            font-size: 3vw;
            text-align: center;   
        }
        #update-weather{
            position: fixed; 
            bottom: 2vw;
            left: 2vw;
            z-index:10;
            display: none;
        }
        #forecast { 
        position: absolute;
        top: 26vw;
        left: 4vw;
        }
        #map{
            position: fixed;
            top: 26vw;
            left: 53vw;
            width: 41vw;
            height: 21vw;
            z-index: 15;
        }
    }
    @media (max-width: 800px){
        #weather-svg{
            top:20vw;
            height: 30%;
        }
        
        #widget{
            top: 40vw;

            #forecast{
                top: 21vw;
                left: 44vw;

                .day-line{
                    font-size: 2.9vw;
                    .day{
                        width: 22vw;
                    }
                    .high-low{
                        width: 14vw;
                    }
                }
            }

            #map{
                left: 0;
                width: 100vw;
                height: 95vw;
                top: 56vw;
            }

            #weather-icon{
                left: 14vw;
                top: 36vw;
            }

            .card-w{
                top: 17vw;
                left: 11vw;
            }
            #clock{
                position: fixed;
                width: 100%;
                text-align: center;
                top: 38vw;
                left: 0;
            }
            #city-name{
                top:25vw;
                font-size: 10vw;
            }
        }
    }
}  
