#me-page{
    #page-wrapper{
        position:relative;
        top:6vw;
    }

    .title{
        width: 100%;
        text-align: center;
    }
    #page-wrapper h1{
        font-size: 3vw;
    }
    #page-wrapper h2{
        font-size: 2vw;;
    }
    .columns{
        display: flex;
        flex-grow: 1;
        padding: 5vw;
    }
    .column-wrapper{
        margin: 1vw auto
    }
    
    .column-wrapper ul li span{
        font-size:smaller;
    }
}