<div id="homepage" v-cloak>
  <div  id="gradient"></div>
  <div class="section">
    <div id="cover"></div>
    <div id="brand-wrapper" class="float">
      <h1 class="pin" id="brand">Axon</h1>
      
      <div class="pin" id="rectangle-navy"></div>
      <div class="pin" id="rectangle-slate"></div>
      <div class="pin" id="rectangle-mustard"></div>
    </div>
  </div>
  <div class="section">
    <div class="text-block" id="intro">
      <H2>Hi,<br />I'm Jeff,<br />web developer</H2>
    </div>
  </div>
  <div class="section">
    <div class="text-block" id="skill-set">
      <h2>What I Do</h2>
      <p>Full Stack Webdevelopment</p>
      <p>Shopify Development</p>
      <p>Full Funnel eCommerce Advertisings</p>
      <p>API Development</p>
    </div>
  </div>
</div>

<script type="text/javascript">
    window.onload = ()=>{ 
      disableScroll();
      fadeOut(document.getElementById("cover"), 2000, 1);
      setTimeout(()=>{ document.getElementById("cover").style.display = "none"}, 3000);
      setTimeout(enableScroll(), 3000);
      var package = getObjectsDesktop();
      document.addEventListener('wheel', animate.bind(null,event,package));
     }
    
   
    
    

</script> 
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
