<div id="page-wrapper">
    <div class="title">
        <h1>Jeff Spurlock</h1>
        <h2>Full Stack Web Developer</h2>
    </div>
    <div class="columns">
        <div class="column-wrapper">
            <h3>Experience</h3>
            <ul>
                <li>Web Development <span> 15 years</span></li>
                <li>Shopify <span> 4 years</span></li>
                <li>Digital Advertising <span> 10 years</span></li>
                <li>BA in Business Admin, Information Systems</li>
            </ul>
        </div>
        <div class="column-wrapper">
            <h3>Personal Skills</h3>
            <ul>
                <li>Strategy</li>
                <li>Problem Solving</li>
                <li>Interpersonal Communication</li>
                <li>Teamwork</li>
            </ul>
        </div>
        <div class="column-wrapper">
            <h3>Technical Skills</h3>
            <ul>
                <li>HTML / CSS / JS</li>
                <li>SQL</li>
                <li>Git</li>
                <li>sails.js</li>
                <li>DNS Management</li>
                <li>AWS
                    <ul>
                        <li>API Development</li>
                        <li>Lambda / Serverless</li>
                        <li>RDBS</li>
                    </ul>
                </li>
                <li>Adobe Illustrator</li>
                <li>Adobe Photoshop</li>
            </ul>
        </div>
        <div class="column-wrapper">
            <h3>Things I Love</h3>
            <ul>
                <li>My beautiful wife and daughters</li>
                <li>Arsenal F.C.</li>
                <li>Union Omaha F.C.</li>
                <li>Playing Drums</li>
                <li>Reading</li>
                <li>Fishing</li>
            </ul>
        </div>
    </div>
</div>